.clients-navbar {
  background-color: white;
  color: rgb(224, 28, 28);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombre noire */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Optional: limits the width to a specific max value */
}

.logo-left {
  height: 60px; /* Agrandir la taille */
  width: auto;
  margin-right: 20px; /* Add margin to create space between logo and links */
}

.logo-right {
  height: 50px; /* Taille standard pour le logo de droite */
  width: auto;
  margin-left: 20px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  margin: 0 20px;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px; /* Ensure the links are vertically centered */
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* "Créer un compte" button styling */
.create-account-link {
  display: inline-block;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  border: 2px solid green;
  border-radius: 25px;
  color: green;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.create-account-link:hover {
  background-color: rgb(70, 86, 70);
  color: white;
}

.navbar-links .create-account {
  margin-left: 20px;
  
  line-height: 60px; /* Ensure the button is vertically aligned with the other links */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .clients-navbar {
    padding: 10px;
    justify-content: space-between;
  }

  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-left, .logo-right {
    height: 50px; /* Réduire la taille sur des écrans plus petits */
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-links a {
    font-size: 16px; /* Légèrement plus petit sur mobile */
  }
}

@media (max-width: 480px) {
  .clients-navbar {
    padding: 8px;
  }

  .navbar-links a {
    font-size: 14px; /* Réduction supplémentaire de la taille de la police sur petits écrans */
  }

  .logo-left, .logo-right {
    height: 40px; /* Logo plus petit pour les très petits écrans */
  }
}
