@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Assure que le padding et les bordures sont inclus dans la largeur/hauteur */
}

body, html {
  height: 100%;
  width: 100%;
}

.admin-layout {
  display: flex;
  flex-direction: column;
}

.admin-main-content {
  display: flex;
  margin-top: 60px; /* Adjust for fixed navbar */
}

.admin-page-content {
  flex-grow: 1;
  margin-left: 200px; /* Adjust for fixed sidebar */
  padding: 20px;
}
.clients-layout {
  display: flex;
  flex-direction: column;
}

.clients-page-content {
  margin-top: 60px; /* Adjust for fixed navbar */
  padding: 20px;
}
