.admin-layout {
  display: flex;
  flex-direction: column;
}

.admin-main-content {
  display: flex;
  margin-top: 60px; /* Adjust for fixed navbar */
}

.admin-page-content {
  flex-grow: 1;
  margin-left: 200px; /* Adjust for fixed sidebar */
  padding: 20px;
}
.clients-layout {
  display: flex;
  flex-direction: column;
}

.clients-page-content {
  margin-top: 60px; /* Adjust for fixed navbar */
  padding: 20px;
}
